/*Font*/
@font-face { font-family: formal436bt; src: url('../fonts/FRML436N.TTF'); } 
@font-face { font-family: antiqueQuestSt; src: url('../fonts/antiquequest.ttf'); }


.formal436bt {
    font-family: formal436bt , sans-serif;
    font-size: 22px;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

.parisienne {
    font-family: 'Parisienne', cursive;
    font-size: 31px;
}

.antiqueQuestSt {
    font-family: 'antiqueQuestSt', cursive;
    font-size: 1.6rem;
}


#logo-img {
    left: 110px;
    transform: rotate(90deg);
    top: -75px;
}

.logoand {
    position: absolute;
    top: -15px;
    left: 185px;
    font-size: 1.3rem;
    font-style: italic;
    transform : rotate(10deg);
}

.logosubtxt {
    position: absolute;
    font-size: 12px;
    top: 34px;
    left: 3rem;
    font-style: italic;
}

/************************************************
---------------------Dark mode-------------------
************************************************/
.dark-mode {
    background-color: #181b1e !important;
    color: white;
}

.less-dark-mode {
    background-color: #272727 !important;
    color: white;
}


/*************************************************
-----------------DarkMod Button-------------------
*************************************************/

.darkModContainer {
    display: flex;
    justify-content: center;
}

.fa-sun {
    font-size: 1em;
    text-align: center;
    margin: auto;
    top: -5%;
    position: relative;
}


.fa-moon {
    font-size: 1em;
    text-align: center;
    margin: auto;
    top: -5%;
    position: relative;
}

.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 1.25rem;
    margin: 0 0.25em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 2px;
    top: 8%;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}




/************************************************
---------------------Navbar-------------------
************************************************/


@media (max-width: 767px) {
    #login-icon, #register-icon, #logout-icon {
        display: none;
    }
  }




/************************************************
---------------------Diaporama-------------------
************************************************/


/* Animation de transition des slides */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#carousel {
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 780px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15), 0 4px 16px rgba(0, 0, 0, .05);
    border-radius: 5px;
    background-color: white;
}


#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: relative;
    /*Affiche les Slides en liste si JavaScript n'est pas chargé*/
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    font-size: 40px;
    box-sizing: border-box;
    background: white;
    color: #fff;
    
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    animation: fadeIn .85s ease-in-out;
    z-index: 2;
}

#slides img {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
}


@media (max-width: 640px) {
    #slides img {
    width: 40%;
    height: 75%;
    margin: auto;
    }
}








/************************************************
---------------------Carousel control------------
************************************************/

.carousel-control-previous {
    left: 0px;
}



.carousel-control-next, .carousel-control-previous {
    position: absolute;
    top: 0px;
    bottom: 0px;
    /* z-index: 1; */
    width: 15%;
    transition: opacity 0.15s ease 0s;
    /* background: rgba(255, 255, 255, 0.29); */
    background: rgba(191, 175, 175, 0.29);
    /* padding: 50px 0px;
    margin: 50px 0px; */
}

.carousel-control-pause {
    background: rgba(191, 175, 175, 0.29);
    left: 45%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50% center;
    background-size: 100% 100%;
}

.slider-controls i {
    font-size: 2rem;
    /* color: white; */
    color: black;
}




/************************************************
-----------------Dahsboard Sidebar---------------
************************************************/

.sidebar-item {
    border-radius: 0.25rem;
}

.sidebar-item:hover {
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

.sidebar-nav p {
    display: inline;
}

.sidebar-nav a {
    display: block;
    position: relative;
}

.sidebar-nav .nav-icon{
    width: 1.6rem;
    margin-left: .05rem;
    font-size: 1.2rem;
    margin-right: .2rem;
    text-align: center;
}

.sidebar-nav-link {
    padding: 0.5rem 1rem;
    /* color: #c2c7d0; */
    margin-bottom: 0.2rem;
    border-radius: 0.25rem;
}

.sidebar-nav-link p i.right.fas {
    position: absolute;
    right: 1rem;
    top: .7rem;
}

.sidebar-nav-treeview {
    display: none;
}

.sidebar-nav-treeview a {
    padding-left: 30px
}

.show {
    display: block;
}

.rotateArrow {
    transform: rotate(-90deg);
}


/************************************************
-----------------Dahsboard Content---------------
************************************************/

.dashboard-content {
    margin-left: 240px;
}

@media (max-width: 640px) {
    .dashboard-content {
        margin-left: 0px;
    }
  }



.gridcontainer a {
    min-height: inherit;
}

.-z-1 {
    z-index: -1;
}

.origin-0 {
    transform-origin: 0%;
}

.dashboardForm input:focus ~ label,
.dashboardForm input:not(:placeholder-shown) ~ label,
.dashboardForm textarea:focus ~ label,
.dashboardForm textarea:not(:placeholder-shown) ~ label,
.dashboardForm select:focus ~ label,
.dashboardForm select:not([value='']):valid ~ label { 
    /* @apply transform; scale-75; -translate-y-6; */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-scale-x: 0.75;
    --tw-scale-y: 0.75;
    --tw-translate-y: -1.5rem;
}

/* .dashboardForm input:focus ~ label,
.dashboardForm input:not(:placeholder-shown) ~ label,
.dashboardForm textarea:focus ~ label,
.dashboardForm textarea:not(:placeholder-shown) ~ label,
.dashboardForm select:focus ~ label,
.dashboardForm select:not([value='']):valid ~ label {
    transform: translateX(0) translateY(0) rotate(0)
    skewX(0) skewY(0) scaleX(0.75) scaleY(0.75);
}

.dashboardForm input:focus ~ label {
    transform: translateY(-1.5rem);
} */